---
import Layout from "../../layouts/Layout.astro";
import Picture from "../../components/Picture.astro";
const { hashtag } = Astro.params;
console.log(hashtag)
const url = 'https://ricardhernandez.com/api';
const token = Astro.cookies.get('token')?.value;

if(!token){
    return Astro.redirect('/Login');
}

let imagesWithHashTag = [];
let allImagesWithHashTag = await fetch(`${url}/images/hashtag/${hashtag}`, {
    method: 'GET',
    headers: {
        Authorization: `Bearer ${token}`,
    }
})

imagesWithHashTag = await allImagesWithHashTag.json();
---

<Layout title="Welcome to Astrogram">
  <div class="">
    {
        imagesWithHashTag?.map(image => {
            return(
                <Picture image={image} />
            )
        })
    }
  </div>
</Layout>
