---
const {image} = Astro.props;
console.log(image)
const url = `http://localhost:3000/img/${image.filename}`;

//Fetch para mirar el nombre del usuario de esa foto

//fn para imprimir los hashtags de esa foto
---

<div class="bg-red-500 h-full">
    <h1>{image.userId}</h1>
    <img src={url} alt="imag" />
</div>