---
import Layout from "../layouts/Layout.astro";
// import Index from "../pages/index.astro";
import Picture from "./../components/Picture.astro";

const url = "http://localhost:3000/api";

let imagesUser = [];

const token = Astro.cookies.get("token").value;
try {
  const images = await fetch(`${url}/allimages`, {
    method: "GET",
    headers: {
      Authorization: `Bearer ${token}`,
    },
  });

  imagesUser = await images.json();
} catch (error) {
  console.log(error);
}
---


<Layout title="feed">
  <div class="">
    <div class="flex flex-col h-screen">
      {imagesUser?.map((image) => <Picture image={image} />)}
    </div>
  </div>
</Layout>
