---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astrogram">
  <main>
	<div class="">
		<h1 class="text-black">Astrogram</h1>
	</div>
  </main>
</Layout>