---
import Layout from '../layouts/Layout.astro';
import HeaderNavBar from '../components/HeaderNavBar.astro';
import FooterComponent from '../components/FooterComponent.jsx';
---

<Layout title="Welcome to Astrogram">
  <main class="">
    <HeaderNavBar />

    <FooterComponent />
  </main>
</Layout>
