---
import Layout from "../layouts/Layout.astro";
import FeedAstrogram from '../components/FeedAstrogram.astro'


if(!Astro.cookies.has('cookie')){
	return Astro.redirect('/login')
}
---

<Layout title="Welcome to Astrogram">
  <main>
	<div class="">
		<h1 class="text-black">Astrogram</h1>
		<FeedAstrogram />
	</div>
  </main>
</Layout>