---
import Layout from "../layouts/Layout.astro";

const token = Astro.cookies.get("token")?.value;
if (token) {
  return Astro.redirect("/MyAccount");
}

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("name");
    const password = data.get("password");

    const url = "https://ricardhernandez.com/api";

    //Consulta POST a la api para hacer un login
    const login = await fetch(`${url}/login`, {
      method: "POST",
      credentials: "include",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ name: name, password: password }),
    })
      .then((res) => res.json())
      .then((user) => Astro.cookies.set("token", user?.token))
      .catch((error) => console.log(error));

    //Redirect if si hay una cookie
    if (Astro.cookies.has("token")) {
      return Astro.redirect("/");
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout title="Welcome to Astrogram">
  <div class="bg-[#0F1218] w-full h-full">
    <div class="h-2/6">
      <form method="POST">
        <div class="rounded-md px-5">
          <div class="flex justify-center pb-10 pt-16">
            <h1 class="text-4xl text-semibold text-white">Astrogram</h1>
          </div>
          <div
            class="flex flex-col items-center justify-center gap-10 w-full py-1"
          >
            <div class="w-full">
              <input
                type="text"
                class="text-md px-1 border py-3 rounded-lg bg-transparent w-full
                placeholder:px-1 text-[#FFFF] placeholder:text-[#8F8F8F] placeholder:text-md"
                placeholder="User name"
                name="name"
              />
            </div>
            <div class="w-full">
              <input
                type="password"
                class="px-1 border py-3 rounded-lg border-white bg-transparent w-full text-[#FFFF]
              placeholder:px-1 placeholder:font-extralight placeholder:text-[#8F8F8F] placeholder:text-md text-md"
                placeholder="Password"
                name="password"
              />
            </div>
            <div class="w-full">
              <button
                class="text-xl py-2 text-black border rounded-lg w-full bg-white"
              >
                <div class="flex justify-center items-center gap-1">
                  <div class="">
                    <svg
                      class="w-8 h-8 text-gray-800"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="m10.051 8.102-3.778.322-1.994 1.994a.94.94 0 0 0 .533 1.6l2.698.316m8.39 1.617-.322 3.78-1.994 1.994a.94.94 0 0 1-1.595-.533l-.4-2.652m8.166-11.174a1.366 1.366 0 0 0-1.12-1.12c-1.616-.279-4.906-.623-6.38.853-1.671 1.672-5.211 8.015-6.31 10.023a.932.932 0 0 0 .162 1.111l.828.835.833.832a.932.932 0 0 0 1.111.163c2.008-1.102 8.35-4.642 10.021-6.312 1.475-1.478 1.133-4.77.855-6.385Zm-2.961 3.722a1.88 1.88 0 1 1-3.76 0 1.88 1.88 0 0 1 3.76 0Z"
                      ></path>
                    </svg>
                  </div>
                  Login
                </div>
              </button>
            </div>
            <div class="flex w-full justify-center gap-2">
              <div class="">
                <a
                  href="/register"
                  class="text-md bg-gradient-to-r text-transparent bg-clip-text from-10% from-indigo-500 via-purple-500 to-pink-300"
                  >No tienes cuenta? Registrate</a
                >
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</Layout>

<style>
  .gradient {
    background: linear-gradient(135deg, #f6ad55 0%, #fc8181 100%);
  }
</style>
